<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css"> -->
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel=" stylesheet " href="/font-awesome-4.7.0/css/font-awesome.css " type="text/css " />
  <link rel="stylesheet " href="/font-awesome-4.7.0/css/font-awesome.min.css " type="text/css " />
  <link rel="stylesheet " href="/css/bgVid.css ">
  <link rel="stylesheet " href="/css/calendar.css ">
  <title>Tekkojuku-Calendar</title>
</head>

<body class="calendar-body">

  <%- include navbar.ejs %>

    <div class="main-content">


      <div id="calendar">

      </div>
      <button id="prev-month" data-offset='-1'>Prev</button>
      <button id="next-month" data-offset='1'>Next</button>

      <!-- Make sure to put this on the root of the body tag, just before the closing </body> -->
      <div id="calendar-event-modal">
        <form id="calendar-modal-form">
          <div>
            <input type="text" name="date" value="">
            <input type="text" name="content" value="">
          </div>
          <div>
            <button type="submit" name="calendar-submit">Save</button>
            <div id="calendar-modal-cancel">cancel</div>
          </div>
        </form>

      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js " integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin=" anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.js"></script>
    <script src="/js/global.js "></script>
    <script src="/js/calendar.js "></script>
</body>

</html>
