<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="./css/main.css">
  <title>Tekkojuku-Calendar</title>
</head>

<body>

  <div class="sidebar one-edge-shadow">
    <div class="logo"><img src="./img/tekkojuku-logo.jpg" alt="Aikido Tekkojuku logo" class="img-logo" width="64" height="64"></div>
    <nav class="row">
      <div class="col-xs-3 col-md-12"><a href="" class="nav-item" data-toggle="tooltip" data-placement="top" title="Home"><i class="fa fa-home"></i><span class="nav-btns"> Home</span></a></div>
      <div class="col-xs-3 col-md-12"><a href="#" class="nav-item find-bus-by-route search-by-opts" data-toggle="tooltip" data-placement="top" title="Calendar"><i class="fa fa-bus"></i><span class="nav-btns"> Calendar</span></a></div>
      <div class="col-xs-3 col-md-12"><a href="#" class="nav-item active find-bus-by-location search-by-opts" data-toggle="tooltip" data-placement="top" title="Instructors"><i class="fa fa-map-marker"></i><span class="nav-btns"> Instructors</span></a></div>
      <div class="col-xs-3 col-md-12"><a href="#" class="nav-item info-btn" data-toggle="tooltip" data-placement="top" title="Info"> <i class="fa fa-info-circle"></i><span class="nav-btns"> Info</span></a></div>
    </nav>
  </div>


  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="./js/app.js"></script>
</body>

</html>
