<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css"> -->
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel=" stylesheet " href="font-awesome-4.7.0/css/font-awesome.css " type="text/css " />
  <link rel="stylesheet " href="font-awesome-4.7.0/css/font-awesome.min.css " type="text/css " />
  <link rel="stylesheet " href="/css/bgVid.css ">
  <link rel="stylesheet " href="/css/degree.css ">
  <title>Tekkojuku-Calendar</title>
</head>

<body>
  <%- include navbar.ejs %>

    <div class="main-content ">
      <p>
        <%= instructorData %>
      </p>

      <div class="wrapper1">
        <div data-userid="" class="degree-card dan-team" id="">
          <div class="degree-card-title">
            <h2>Goku </h2>
            <p>DAN 10th Degree</p>
          </div>
          <figure>
            <img src="/img/goku.jpg" alt="Instructor Goku">
          </figure>
        </div>
        <div data-userid="" class="degree-card kyu-team" id="">
          <div class="degree-card-title">
            <h2>Mr. Satan </h2>
            <p>KYU 5st Degree</p>
          </div>
          <figure>
            <img src="/img/satan.jpg" alt="Instructor Satan">
          </figure>
        </div>
        <div data-userid="" class="degree-card dan-team" id="">
          <div class="degree-card-title">
            <h2>Vegeta </h2>
            <p>DAN 9th Degree</p>
          </div>
          <figure>
            <img src="/img/vegeta.jpg" alt="Instructor Vegeta">
          </figure>
        </div>


        <div data-userid="" class="degree-card kyu-team" id="">
          <div class="degree-card-title">
            <h2>Master Roshi </h2>
            <p>Kyu 1st Degree</p>
          </div>
          <figure>
            <img src="/img/roshi.jpg" alt="Instructor Roshi">
          </figure>
        </div>
        <div data-userid="" class="degree-card dan-team" id="">
          <div class="degree-card-title">
            <h2>Beerus </h2>
            <p>DAN 13th Degree</p>
          </div>
          <figure>
            <img src="/img/beerus.jpg" alt="Instructor Beerus">
          </figure>
        </div>
        <div data-userid="" class="degree-card kyu-team" id="">
          <div class="degree-card-title">
            <h2>Picolo </h2>
            <p>Kyu 1th Degree</p>
          </div>
          <figure>
            <img src="/img/picolo.jpg" alt="Instructor Picolo">
          </figure>
        </div>

      </div>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js " integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin=" anonymous "></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.js"></script> -->
    <script src="/js/global.js "></script>
    <script src="./js/app.js "></script>
</body>


</html>
