<header class="navbar">
  <div class="navbar-logo">
    <img src="/img/tekkojuku-logo.png" alt="Aikido Tekkojuku logo">
  </div>
  <nav>
    <ul class="navbar-item">
      <li><a alt="Calendar" href="/calendar">Calendar</a></li>
      <li><a alt="Instructors" href="/instructors">Instructors</a></li>
      <li><a alt="Login" href="/login">Login</a></li>
      <li><a alt="Info" href="#">Info</a></li>
    </ul>
  </nav>
</header>
<!-- <div class="sidebar one-edge-shadow ">
  <div class="logo "><img src="./img/tekkojuku-logo.png " alt="Aikido Tekkojuku logo "></div>
  <nav class="row ">
    <div class="col-xs-3 col-md-12 "><a href=" " class="nav-item " data-toggle="tooltip " data-placement="top " title="Home "><i class="fa fa-home "></i><span class="nav-btns "> Home</span></a></div>
    <div class="col-xs-3 col-md-12 "><a href="# " class="nav-item " data-toggle="tooltip " data-placement="top " title="Calendar "><i class="fa fa-calendar "></i><span class="nav-btns "> Calendar</span></a></div>
    <div class="col-xs-3 col-md-12 "><a href="# " class="nav-item active " data-toggle="tooltip " data-placement="top " title="Instructors "><i class="fa fa-users "></i><span class="nav-btns "> Instructors</span></a></div>
    <div class="col-xs-3 col-md-12 "><a href="# " class="nav-item info-btn " data-toggle="tooltip " data-placement="top " title="Info "> <i class="fa fa-info-circle "></i><span class="nav-btns "> Info</span></a></div>
  </nav>
</div> -->
