<header class="navbar">
  <div class="navbar-logo">
    <img src="/img/tekkojuku-logo.png" alt="Aikido Tekkojuku logo">
  </div>
  <nav>
    <ul class="navbar-item">
      <li><a alt="Calendar" onclick="window.location.href= calendar?auth_token=' + localStorage.getItem('token')">Calendar</a></li>
      <li><a alt="Instructors" onclick="window.location.href= instructors?auth_token=' + localStorage.getItem('token')">Instructors</a></li>
      <li><a alt="Login" href="/login">Login</a></li>
      <li><a alt="Info" href="#">Info</a></li>
    </ul>
  </nav>
</header>
