<header class="header">
  <div class="nav-bar-logo">
    <a href="#" class="logo"><img src="/img/tekkojuku-logo.png" alt="Aikido Tekkojuku logo"></a>
  </div>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a alt="Calendar" class="login-cal-lnk" href="/calendar">Calendar</a></li>
    <li><a alt="Instructors" class="login-inst-lnk" href="/instructors">Instructors</a></li>
    <li><a alt="Info" class="info-btn" href="#">Info</a></li>
    <li><a alt="Login" class="login-nb" href="/login">Login</a></li>
  </ul>
</header>

<!--

  - fa-calendar - fa-users - fa-info-circle
</div> -->
