body {
  margin: 0;
  /*background: #445252;*/
}

.navbar {
  display: flex;
  flex: 1 1 10%;
  justify-content: space-between;
  background-color: white;
  padding: 8px 20px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.22);
  align-items: center;
  max-height: 75px;
}

.navbar-logo img {
  height: 75px;
  display: inline-block;
  margin: auto;
}

ul {
  display: flex;
  padding: 0;
  list-style-type: none;
  justify-content: space-between;
}

ul li:nth-child(2) {
  border-left: 2px solid #555;
}

ul li:nth-child(3) {
  border-right: 2px solid #555;
  border-left: 2px solid #555;
}

li a {
  color: #445252;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 15px;
  cursor: pointer;
}


}
.main-content {
  padding: 2%;
  /*flex: 1 1 90%;*/
  /*min-height: 100vh;*/
}
video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  /*background: url('./img/ATJB.jpg') no-repeat;*/

  background-size: cover;
  transition: 1s opacity;
}
.stopfade {
  opacity: .5;
}
#ATJB {
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight: 100;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 2rem;
  width: 33%;
  margin: 2rem;
  float: right;
  font-size: 1.2rem;
}

/*h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: .3rem;
}*/
.pause-btn {
  display: block;
  width: 80%;
  padding: .4rem;
  border: none;
  margin: 1rem auto;
  font-size: 1.3rem;
  background: rgba(255, 255, 255, 0.23);
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: .3s background;
}
.pause-btn:hover {
  background: rgba(0, 0, 0, 0.5);
}
.pause-btn a {
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
}

/*a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.5);
  padding: .5rem;
  transition: .6s background;
}

a:hover {
  background: rgba(0, 0, 0, 0.9);
}*/
@media screen and (max-width: 500px) {
  div {
    width: 70%;
  }
}
@media screen and (max-device-width: 800px) {
  html {
    background: url(./img/ATJB.jpg) #000 no-repeat center center fixed;
  }

  #bgvid {
    display: none;
  }
}
